html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  background: #f2f2f2;
  color: #000;
  box-sizing: border-box;
  background-image: url("https://isme.ie/wp-content/uploads/2018/07/banner_add_news.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
ul.main {
  width: 100%;
  text-align: center;
}
ul.main li {
  display: inline-grid;
}
ul.main li a {
  text-decoration: none;
  color: #000;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  transition-duration: 1s;
}
ul.main li a:hover,
ul.main li a.active {
  background: white;
}
.main-title {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 0 1px #f2f2f2;
}

.mainPostPage {
  width: 70%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
}

.main-title span {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px #000;
}
.mainPage {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #f2f2f2;
  float: left;
}
.articles {
  width: 70%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pageOptions {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.articleContainer {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
}
.articleImg {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.articleTitle {
  width: 100%;
  padding: 20px 0px;
}
.articleTitle span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.articleDescription {
  width: 100%;
  padding: 10px 0;
  font-size: 20 px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
.articleButton .btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  padding: 10px 30px;
  transition-duration: 0.5s;
}
.articleButton .btn:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}
.categories {
  width: 100%;
  background-origin: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.categoriesTitle {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.categoriesBody {
  width: 100%;
}
.categoriesContainer {
  width: 100%;
  font-size: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.categoriesContainer span.numberOfPostsForCategories {
  float: right;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 5px;
}

.categoriesContainer a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 20px;
}
.categoriesContainer a:hover {
  color: gray;
}

.pageRecentPosts {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.recentTitlePosts {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.recentBody {
  padding: 10px;
}

.recentContainer {
  display: flex;
}

.recentImg {
  float: left;
  width: 50%;
}

.recentDescription {
  float: right;
  padding: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  color: #000;
}

.recentBody a {
  text-decoration: none;
}
.recentContainer .recentDescription:hover {
  color: gray;
}
.recentContainer .recentImg:hover {
  filter: grayscale(100%);
}

/*  Style for post.html page here*/
.mainImage {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.mainImage .postImage {
  width: auto;
  height: 100%;
  max-height: 500px;
}

.postDetails {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.authorPost {
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.authorPost span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #b3b3b3;
}

.authorPost i {
  margin-right: 5px;
  color: red;
}

.articles {
  box-shadow: 0 0 0 1px #f2f2f2;
  border-radius: 5px;
}

.titlePost {
  width: 100%;
  padding: 30px;
  text-align: center;
  background: rgb(46, 139, 87);
  color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
}

.titlePost p {
  font-size: 30px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.descriptionPost {
  width: 100%;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
}

.descriptionPost p {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  color: rgb(26, 23, 23);
  padding: 5px;
}

.moreImages {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreImages img {
  max-height: 400px;
  margin: 10px;
  border-radius: 5px;
}
/* dashbord */
.siderbar {
  min-width: 300px;
  background-color: #f5f5f5;
  height: 100%;
  padding: 0;
  float: left;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 20%;
  position: fixed;
}
.siderbarLogo {
  background: #000;
  padding: 20px;
}
.siderbarLogo p {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.siderbarElement a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.siderbarElement a.active {
  background: #2e8b57;
  color: white;
}

.siderbarElement a:hover:not(.active) {
  min-width: 200px;
  background-color: #000;
  color: white;
  opacity: 0.9;
}

.main-panel {
  float: right;
  width: 80%;
}

/* User profil */
.user-profil {
  padding: 10px;
  margin: 40%;
  background: #2e8b57;
  border-radius: 5px;
  width: 70%;
  margin: 30px auto;
}
.info-profil p {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  padding: 10px;
}
.siderbarElement a i {
  padding: 10px;
}

/* setari */
.checkbox {
  padding: 50px;
  margin: 50px auto;
  width: 40%;
  background: #d5e1df;
  border-radius: 3px;
}
.checkbox-title {
  font-size: 30px;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 3px;
  padding: 10px;
  margin: 5px auto;
  background: #2e8b57;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}
.theme {
  padding: 50px;
  margin: 50px auto;
  width: 40%;
  background: #d5e1df;
  border-radius: 3px;
}

input[type="radio"] {
  margin: 10px;
}
.theme-title {
  font-size: 30px;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 2px;
  padding: 10px;
  margin: 5px auto;
  background: #2e8b57;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}

.setting-box {
  float: left;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

input[type="text"],
select,
textarea,
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #2e8b57;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container-profil {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type="submit"]:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.8;
  cursor: pointer;
}
/* notificari */
.main-notification-post {
  padding: 60px;
}
.body-notification-post {
  margin: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
  padding: 10px;
  background: #f2f2f2;
  border-radius: 4px;
}
.body-notification-post a {
  text-decoration: none;
  color: #000;
}
.notification-title-post {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
  background: #f2f2f2;
  border-radius: 4px;
}

.notification-container {
  display: flex;
}

.notification-img {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.notification-img img {
  margin: 10px;
  border-radius: 10%;
}

.notification-descripton {
  float: right;
  padding: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  color: #000;
}
.notification-description p {
  padding: 20px;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  color: darkslategray;
}

