html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  background: #f2f2f2;
  color: #000;
  box-sizing: border-box;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HPWsSXb4xiwrj8lkx/videoblocks-tropical-beach-background-loop_bhjouqunm_thumbnail-full01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
ul.main {
  width: 100%;
  text-align: center;
}
ul.main li {
  display: inline-grid;
}
ul.main li a {
  text-decoration: none;
  color: #000;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  transition-duration: 1s;
}
ul.main li a:hover,
ul.main li a.active {
  background: #b3b3b3;
}
.main-title {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 0 1px #f2f2f2;
}

.main-title span {
  font-family: "Srisakdi", cursive;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px #000;
}
.mainPage {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #f2f2f2;
}
.articles {
  width: 70%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pageOptions {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.articleContainer {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
}
.articleImg {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.articleTitle {
  width: 100%;
  padding: 20px 0px;
}
.articleTitle span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.articleDescription {
  width: 100%;
  padding: 10px 0;
  font-size: 20 px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
.articleButton .btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  padding: 10px 30px;
  transition-duration: 0.5s;
}
.articleButton .btn:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}
.categories {
  width: 100%;
  background-origin: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.categoriesTitle {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.categoriesBody {
  width: 100%;
}
.categoriesContainer {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  
}

.categoriesContainer span.numberOfPostsForCategories{
    float: right;
    background: #f2f2f2;
    border-radius: 50%;
    padding: 5px;
}

.categoriesContainer a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 20px;
}
.categoriesContainer a:hover {
  color: gray;
}
