html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  background: #f2f2f2;
  color: #000;
  box-sizing: border-box;
  background-image: url("https://isme.ie/wp-content/uploads/2018/07/banner_add_news.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
ul.main {
  width: 100%;
  text-align: center;
}
ul.main li {
  display: inline-grid;
}
ul.main li a {
  text-decoration: none;
  color: #000;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  transition-duration: 1s;
}
ul.main li a:hover,
ul.main li a.active {
  background: white;
}
.main-title {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 0 1px #f2f2f2;
}

.mainPostPage {
  width: 70%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
}

.main-title h1 {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px #000;
}
.mainPage {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #f2f2f2;
  float: left;
}
.articles {
  width: 70%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pageOptions {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.articleContainer {
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
}
.hide{
  display: none;
}
.articleImg {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.articleTitle {
  width: 100%;
  padding: 20px 0px;
  min-height:50px;
}
.articleTitle span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.articleDescription {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  min-height: 150px;
}
.articleButton .btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  padding: 10px 30px;
  transition-duration: 0.5s;
}
.articleButton .btn:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}
.categories {
  width: 100%;
  background-origin: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.categoriesTitle {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.categoriesBody {
  width: 100%;
}
.categoriesContainer {
  width: 100%;
  font-size: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.categoriesContainer span.numberOfPostsForCategories {
  float: right;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 5px;
}

.categoriesContainer a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 20px;
}
.categoriesContainer a:hover {
  color: gray;
}

.pageRecentPosts {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.recentTitlePosts {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.recentBody {
  padding: 10px;
}

.recentContainer {
  display: flex;
    max-height: 300px;
    overflow: hidden;
    margin: 20px 0;
}


/* recentPosts */

.recentImg{
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  min-width: 150px;
  min-height: 100px;
}

.recentImg img{
  width: 100%;
}

.recentDescription {
  min-height: 100px;
  float: right;
  padding: 0 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  color: #000;
  min-width: 100px;
}

.recentBody a {
  text-decoration: none;
  width: 100%;
}
.recentContainer .recentDescription:hover {
  color: gray;
}
.recentContainer .recentImg:hover {
  filter: grayscale(100%);
}
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #000;
  text-align: center;
  height: 100px;
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}

.footer .iconsFooter {
  width: 100%;
  padding: 5px;
}
.footer div a i{
  width: 18px;
}
.footer .iconsFooter, .footer .creator{
  box-sizing: border-box;
}

.footer .creator {
  width: 100%;
  padding: 5px;
  font-size: 13px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.iconsFooter a i {
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

/* center img */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*  Style for post.html page here*/
.PostPage{
  width: 70%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.postContainer{
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;

}
.mainImage {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.mainImage .postImage {
  width: auto;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.postDetails {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.authorPost {
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.authorPost span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #b3b3b3;
}

.authorPost i {
  margin-right: 5px;
  color: rgb(46, 139, 87);
}

.articles {
  box-shadow: 0 0 0 1px #f2f2f2;
  border-radius: 5px;
}

.titlePost {
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: rgb(46, 139, 87);
  color: #fff;
  box-sizing: border-box;
}

.titlePost p {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.descriptionPost {
  width: 100%;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
}

.descriptionPost p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  color: rgb(26, 23, 23);
  padding: 5px;
}

.moreImages {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreImages img {
  max-height: 400px;
  margin: 10px;
  border-radius: 5px;
}
/* dashbord */
.siderbar {
  min-width: 300px;
  background-color: #f5f5f5;
  height: 100%;
  padding: 0;
  float: left;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 20%;
  position: fixed;
}
.siderbarLogo {
  background: #000;
  padding: 20px;
}
.siderbarLogo p {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.siderbarElement a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.siderbarElement a.active {
  background: #2e8b57;
  color: white;
}

.siderbarElement a:hover:not(.active) {
  min-width: 200px;
  background-color: #000;
  color: white;
  opacity: 0.9;
}

.main-panel {
  float: right;
  width: 80%;
}

/* User profil */
.user-profil {
  padding: 10px;
  margin: 40%;
  background: #2e8b57;
  border-radius: 5px;
  width: 70%;
  margin: 30px auto;
}
.info-profil p {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  padding: 10px;
}
.siderbarElement a i {
  padding: 10px;
}

/* setari */
.checkbox {
  padding: 50px;
  margin: 50px auto;
  width: 40%;
  background: #d5e1df;
  border-radius: 3px;
}
.checkbox-title {
  font-size: 30px;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 3px;
  padding: 10px;
  margin: 5px auto;
  background: #2e8b57;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}
.theme {
  padding: 50px;
  margin: 50px auto;
  width: 40%;
  background: #d5e1df;
  border-radius: 3px;
}
.checkbox input[type="submit"]{
  background-color: #2e8b57;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox input[type="submit"]:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.8;
  cursor: pointer;
}
.theme input[type="submit"]{
  background-color: #2e8b57;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.theme input[type="submit"]:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.8;
  cursor: pointer;
}

.theme input[type="radio"] {
  margin: 10px;
}
.theme-title {
  font-size: 30px;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 2px;
  padding: 10px;
  margin: 5px auto;
  background: #2e8b57;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}

.setting-box {
  float: left;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.container-profil input[type="text"],
select,
textarea,
.container-profil input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container-profil input[type="submit"] {
  background-color: #2e8b57;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.container-profil input[type="submit"]:hover {
  background-color: #45a049;
}

.container-profil {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container-profil input[type="submit"]:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.8;
  cursor: pointer;
}

.duration{
  padding: 50px;
  margin: 50px auto;
  width: 40%;
  background: #d5e1df;
  border-radius: 3px;
}
.duration input[type="submit"]{
  background-color: #2e8b57;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.duration input[type="submit"]:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.8;
  cursor: pointer;
}

.duration input[type="radio"] {
  margin: 10px;
}
.duration-title {
  font-size: 30px;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 2px;
  padding: 10px;
  margin: 5px auto;
  background: #2e8b57;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}
/* notificari */
.main-notification-post {
  padding: 60px;
}
.body-notification-post {
  margin: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
  padding: 10px;
  background: #f2f2f2;
  border-radius: 4px;
}
.body-notification-post a {
  text-decoration: none;
  color: #000;
}
.notification-title-post {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
  background: #f2f2f2;
  border-radius: 4px;
}

.notification-container {
  display: flex;
}

.notification-img {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.notification-img img {
  margin: 10px;
  border-radius: 10%;
}

.notification-descripton {
  float: right;
  padding: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  color: #000;
}
.notification-description p {
  padding: 20px;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  color: darkslategray;
}

/* login page here */

.loginBox,
.contactBox {
  border: 5px solid #f2f2f2;
  padding: 50px;
  margin: 5px auto;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  border: 5px solid #e2e2e2;
}
.loginBox div p {
  font-size: 20px;
  color: #808080;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

.loginBox input[type="text"],
.loginBox input[type="date"],
.loginBox input[type="password"],.loginBox input[type="email"],.loginBox input[type="tel"] {
  font-size: 13px;
  line-height: 1.2;
  margin: 5px;
  width: 100%;
  height: 35px;
  background: transparent;
  padding: 7px;
  font-family: "Playfair Display", serif;
  outline: none;
  resize: both;
}
.loginBox input:focus {
  width: 100%;
}
.more {
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  margin: 10px;
}
.more div a:hover {
  color: red;
}
.signUp a {
  text-decoration: none;
  color: #808080;
}
.button {
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #2e8b57;
  transition-duration: 0.5s;
  color: #000;
  outline: none;
}
.button:hover {
  background-color: #333333;
  color: #fff;
}
.button a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.button i {
  padding: 5px;
}
.mandatoryField{
  padding: 15px;
}
.space {
  padding: 25px;
}
.spaceEnd {
  padding: 10%;
}
.background,
.background .space,
.background .spaceEnd {
  background: #f2f2f2;
}
.cancel .cancelRef {
  text-decoration: none;
}
.loginBox p {
  font-size: 20px;
  color: #808080;
  font-family: "Playfair Display", serif;
}
.cancel .cancelRef p {
  font-size: 20px;
  padding: 20px;
}
.cancel .cancelRef p:hover {
  color: red;
}
/* contact page  */

.contactBox h2 {
  font-size: 25px;
  color: #000;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
}
.contactBox p {
  font-size: 15px;
  color: #808080;
  font-family: "Playfair Display", serif;
  padding: 5px;
  text-align: center;
}



.onLoad{
  position: fixed;
  top:0;
  left: 0;

  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin:0 auto;
  text-align: center;
  background: #808080;
  color:#fff;
}

/* Dark mode */
/* user.php */
body.dark .user-profil{
  background:  #333333;
}
body.dark .info-profil p{
  color: white;
}
body.dark .user-profil input[type="submit"]{
  background: #000;
}

/* Cont */
body.dark ul.main{
  background: black;
  opacity: 0.7;
}
body.dark ul.main i{
  color: white;
}

body.dark ul.main li a{
color: white;
}

body.dark ul.main li a:hover{
color: black;
}
body.dark ul.main li a.active{
color: black;
background: white;
}
body.dark .siderbar{
  background: #000;
}
body.dark .siderbar{
  background: #000;
}
body.dark .siderbarElement a.active{
  background: #555555;
}
body.dark .siderbarElement a {
  color: white;
}
body.dark .siderbarElement a:hover{
  background: white;
  color: #000;
}
body.dark .siderbarElement a:hover:not(.active){
  opacity: 1;
}

/* setari.php */

body.dark .checkbox-title{
  background: #000;
  box-shadow: 0 0 0 1px black;
}

body.dark .theme-title{
  background: #000;
  box-shadow: 0 0 0 1px black;
}

body.dark .theme{
  /* background: #555555;
  opacity: 0.8; */
}

body.dark .checkbox input[type="submit"]{
  background: #000;
}
body.dark .theme input[type="submit"]{
  background: #000;
}

/* index.php */
.errorNotExist{
  background: #e9e7e2;
  color: #555555;
  padding: 30px;
  font-family: "Playfair Display", serif;
  width: 100%;
  text-align: center;
}
body.dark .mainPage{
  background: black;
    opacity: 0.9;
}
body.dark .articleContainer{
  background: #e9e7e2;
}
body.dark .pageOptions{
  color: white;
}
body.dark .categoriesContainer a{
  color: white;

}
body.dark .categoriesContainer span.numberOfPostsForCategories{
  color: #000;
}
body.dark .pageRecentPosts{
  color: white;
}
body.dark .recentDescription{
  color: white;
}
body.dark .articles{
  border-radius: 0px;
  box-shadow: 0 0 10px black;
}
body.dark .mainPage{
  box-shadow: 0 0 3px black;
}

/* post.php */
body.dark .bodyPost {
  background: #000;
}
body.dark .descriptionPost p{
  color: white
}
body.dark .postContainer{
  box-shadow: 0 0 1px black;
}
body.dark .authorPost{
  background: white;
}
body.dark i{
  color: #000;
}
body.dark .titlePost{
  background: white;
    color: black;
}
body.dark .categoriesContainer i{
  color: white;
}
body.dark .categoriesContainer a:hover{
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px green;

}

/* popup */
.popup {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-left: 2px solid green;
  color: green;
  background: #eee9e9;
}

.successContainer {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-left: 2px solid green;
  color: green;
  background: #eee9e9;
}
.successMessage{
  color: green;
}
.errorContainer  {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  border-left: 2px solid red;
  color: red;
  background: #eee9e9;
}
.errorMessage{
  color: red;
}



@media only screen and (max-width: 1000px) {
  .mainPage,
  .pageOptions,
  .pageRecentPosts,
  .articles {
    width: 100%;
  }

  .moreImages img {
    max-height: 300px;
  }
  .mainImage .postImage {
    max-height: 300px;
  }
  .main-panel{
    width: 70%;
  }
  .loginBox{
    width: 80%;
  }
}
@media only screen and (max-width: 800px) {
  .siderbar {
    display: none;
  }
  .main-panel{
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .mainPage,
  .pageOptions,
  .pageRecentPosts,
  .articles {
    width: 100%;
  }

  .moreImages img {
    max-height: 300px;
  }
  .mainImage .postImage {
    max-height: 300px;
  }
  .siderbar {
    display: none;
  }
  .main-panel{
    width: 100%;
  }
  .loginBox{
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .mainImage .postImage {
    max-height: 250px;
  }
  ul.main li {
    display: block;
  }
  ul.main li a {
    display: block;
  }
  .contactBox{
    padding: 0px;
    width: 80%;
    
  }
  .siderbar {
    display: none;
  }
  .main-panel{
    width: 100%;
  }
  .loginBox{
    width: 70%;
  }
  
}
